.el-button {
  display: flex;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  border: black solid 2px;
  font-weight: bold;
  color: black;
  padding-right: 5px;
  +.el-button {
    margin: 0;
  }
}